form body {
  font-family: "Comic Sans MS", sans-serif;
}

form input[type=text],
form input[type=date],
form textarea,
form select {
  font-family: "Comic Sans MS", sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form textarea {
  font-family: "Comic Sans MS", sans-serif;
  height: 100px;
  resize: none;
}

form button[type=submit] {
  width: 100%;
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[type=submit]:hover {
  background-color: #45a049;
}

form.create-edit {
  border-radius: 5px;
  background-color: var(--background);
  padding: 20px;
}
