.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.navbar a {
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 20%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #04aa6d;
}

@media screen and (max-width: 500px) {
  .navbar a {
    display: block;
    width: 100%;
    text-align: left;
  }
}

#theme-button {
  background-color: transparent; /* Green */
  border: none;
  color: yellow;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#theme-button:hover {
  background-color: #000;
}
